
/*
   Class:   4A7B
   Name:    Saif Rashed
   Purpose:	#####

   mm-dd-yyyy Description
   -------------------------------------------------
   01-01-2017 Initial
   11-03-2017 Added viewport functionality
*/

* {
	box-sizing: border-box;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:10px;
	font-size:100%;
	font-family:'Calibri', 'Arial', 'Helvetica';
	color:black;
}

table, th, td {
	border:1px solid #2E3192;
	border-collapse:collapse;
	padding:5px;
	font-family:"Arial";
	font-size:10px;
}

table {
}

table th {
	color:white;
	background-color:#2E3192;
	padding:10px;
	text-align:left;

}