
/*
   Class:   4A7B
   Name:    Saif Rashed
   Purpose:	###

   mm-dd-yyyy Description
   -------------------------------------------------
   01-01-2017 Initial
   11-03-2017 Added viewport functionality
*/

/************************************************
* Include the padding and border to all elements*
*************************************************/

* {
	box-sizing: border-box;
}

/************************
* Default setting       *
*************************/

body {
	width:100%;
	height:100%;
	margin:0;
	font-size:100%;
	font-family:'Calibri', 'Arial', 'Helvetica';
	color:black;
	}

	/*
24px:16px = 1.5em 
px delen door 16px is aantal em

*/
	
/************************
* Header                *
*************************/
header {
	float:left;
	background-color:green;
	height:75px;
	width:100%;
}

/************************
* horizontal menu       *
*************************/
nav {
	float:left;
	background-color:lightblue;
	height:75px;
	width:100%;
}

/************************
* Body                  *
*************************/

aside {
	float:right;
	background-color:black;
	height:400px;
	width:40%
}


section {
	float:left;
	background-color:darkred;
	height:200px;
	width:60%;
	
}

article {
	float:left;
	background-color:lightgreen;
	height:200px;
	width:60%;
}

/************************
* Footer                *
*************************/
footer {
	float:left;
	background-color:lightblue;
	height:75px;
	width:100%;
}
