
body {
  background-color:black;
  font-family:Arial;
  color:white;
  margin:0 auto;
  width:70%;

}
	
a:link {
  color:white;
  background-color:black;
  text-decoration:none;

}

a:visited {
  text-decoration:none;
  color:white;	
}

a:hover {
  text-decoration:none;
  color:black;
  background-color:white;
}	

a:active {
  text-decoration:none;
  color:red;
  background-color:white;
}

a {
  display: block;
  margin-top:2px;
  height:100%;
  border: 3px solid white;
}

ul {	
  list-style-type: none;
  font-size:20px;
  position: fixed;
}

img {
  display:block;
  margin:auto;
  width:500px;
  height:300px;
}
	
h1 {
  text-align:center;
  color:white;
  margin:0 auto;
  margin-bottom: 10px;
  width:50%;
  background-color:red;
  border:4px;
  border-style:solid;
  border-color:hotpink;
  
}

pre{
  display:block;
  text-align:center;
  color:white;
  border: 5px solid hotpink;
  margin:0 auto;
  width:70%;
}

#eerste {
  display:block;
  text-align:center;
  color:red;
  background-color:blue;
  margin:0 auto;
  width:70%;

}
	
#tweede {
  display:block;	
  text-align:center;
  color:green;
  background-color:red;
  margin:0 auto;
  width:70%;

}
	
#derde {
  display:block;	
  text-align:center;
  color:blue;
  background-color:green;
  width:70%;
  margin:0 auto;

}
	